.main {
    display: flex;
    align-items: start;
    overflow: hidden;
}

.imageContainer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    margin-top: 200px;
}

.image {
  max-width: 50%;
  height: auto;
  display: block;
}
.TextContainer {
 border: 2px, solid , black;
 padding: 12px;
 border-radius: 16px;
 margin-top: 10px;
}
.Text {
 text-align: center;
 font-style: italic;
 font-family: 'Times New Roman', Times, serif;
 font-size: 24px;
}
.AuthorContainer {
margin: 30px;
}
h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}