.main {
 flex: 1;
 background-color: #eee;
}
.gridContainer {
 display: grid;
 grid-template-columns: 20% 60% 20%;
 height: 100%;
 max-width: 100%;
 margin: 0 auto;
 background-color: white;
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}

@media (max-width: 768px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
  }
}