.article {
 background: linear-gradient(to bottom, #ffffff, #b3b3b3);
 padding: 1.5rem;
 height: 100%;
 overflow-y: auto;
}
.blockTitle {
 text-align: center;
 font-style: italic;
}
.blockDescription {
font-style: italic;
text-align: center;
}
.MainText {
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 32px;
}
.title {
 color: #212529;
 margin-bottom: 1.5rem;
 margin-top: 3rem;
 font-size: 1.8rem;
 text-align: center;
}
.content {
 color: #495057;
 line-height: 1.8;
}
.content p {
 margin-bottom: 1rem;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gridRow {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.gridRow:nth-child(odd) {
  flex-direction: row-reverse;
}

.gridImage, .gridText {
  flex: 1;
}

.gridImage img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.gridText p {
  margin: 0;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .gridRow, .gridRow:nth-child(odd) {
    flex-direction: column !important;
  }
}