.aside {
 background: linear-gradient(to bottom, #ffffff, #b3b3b3);
 padding: 1rem;
 height: 100%;
 overflow-y: auto;
}
.title {
 color: #495057;
 margin-bottom: 1rem;
 font-size: 1.2rem;
 padding-bottom: 0.5rem;
}
.widget {
 margin-bottom: 1.5rem;
 padding: 0.8rem;
 background-color: #eee;
}
.widget h4 {
 color: #111;
 margin-bottom: 0.5rem;
 font-size: 1rem;
}
.widget ul {
 list-style: none;
 padding-left: 0;
}
.widget li {
 padding: 0.3rem 0;
 color: #666;
 font-size: 0.9rem;
 cursor: pointer;
}
.widget li:hover {
 color: #007bff;
}